@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap");

body {
  margin: 0;
  background: rgb(55, 7, 187);
}
.main {
  width: 100%;
  margin-top: 50px;
}
.input {
  text-align: center;
  margin: auto;
  width: 600px;

  padding: 10px 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 15px 10px 15px rgb(4, 9, 17);
}
.input h1 {
  text-align: center;
  /* color: white; */
  font-family: "Comfortaa", cursive;
}
#heading_logo {
  margin-right: 20px;
}
#uinput {
  width: 400px;
  padding: 10px;
  border: 2px solid grey;
  border-radius: 10px;
  outline: none;
  font-size: 15px;
}
.adbtn {
  padding: 10px;
  border: 2px solid grey;
  border-radius: 10px;
  margin-left: -5px;
  outline: none;
  font-size: 15px;
  cursor: pointer;
}
.todos {
  width: 400px;
  margin: auto;
  margin-top: 15px;
  border-radius: 10px;
  padding: 10px 0px;
  font-family: "Comfortaa", cursive;
}
.itemlist {
  border-bottom: 2px solid #d5dbdb;
  padding: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px 5px rgb(103, 158, 231);
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
}
.itemlist:hover {
  background-color: #2ecc71;
  color: red;
  text-decoration: line-through;
  cursor: pointer;
}
.adbtn:hover {
  background-color: rgba(67, 100, 0, 0.7);
  color: white;
  opacity: 0.6;
}